<div class="row-container">
  <div class="item-image">
    <a href="">
      <img class="displayed" src="https://cdn3.riastatic.com/photosnew/auto/photo/audi_a6__465594553f.webp" width="350" height="250">
    </a>
  </div>
  <div class="item-content">
    <div class="item-head">
      <a href="">
        <h4>
          Audi A6 2013
        </h4>
      </a>
    </div>
    <div class="item-price">
      <span class="foreign-currency">
        10 000 $
      </span>
    </div>
    <div class="item-characteristics">
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/probeg.svg" alt="icon"> <span> 100 000 км </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/cvet.svg" alt="icon"> <span> чорний </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/god.svg" alt="icon"> <span> 2012 </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/strana_1598619700301.svg" alt="icon"> <span> Україна </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/privod.svg" alt="icon"> <span> Передній привід </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/tip-avtomobilya_1598618553903.svg" alt="icon"> <span> Автомат </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/kuzov.svg" alt="icon"> <span> Седан </span>
      </div>
    </div>

    <div class="base_information">
      <span class="state-num ua">
        АА 1111 АА
      </span>
      <span class="state-num vin">
        ASDF234WER2134WERRW
      </span>
    </div>
  </div>
</div>

<div class="row-container">
  <div class="item-image">
    <a href="">
      <img class="displayed" src="https://cdn3.riastatic.com/photosnew/auto/photo/volkswagen_passat-b7__481692903f.webp" width="350" height="250">
    </a>
  </div>
  <div class="item-content">
    <div class="item-head">
      <a href="">
        <h4>
          Volkswagen B7
        </h4>
      </a>
    </div>
    <div class="item-price">
      <span class="foreign-currency">
        10 000 $
      </span>
    </div>
    <div class="item-characteristics">
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/probeg.svg" alt="icon"> <span> 100 000 км </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/cvet.svg" alt="icon"> <span> чорний </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/god.svg" alt="icon"> <span> 2012 </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/strana_1598619700301.svg" alt="icon"> <span> Україна </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/privod.svg" alt="icon"> <span> Передній привід </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/tip-avtomobilya_1598618553903.svg" alt="icon"> <span> Автомат </span>
      </div>
      <div class="characteristic-item">
        <img src="https://img.atl.ua/storage/editor/fotos/kuzov.svg" alt="icon"> <span> Седан </span>
      </div>
    </div>

    <div class="base_information">
      <span class="state-num ua">
        АА 1111 АА
      </span>
      <span class="state-num vin">
        ASDF234WER2134WERRW
      </span>
    </div>
  </div>
</div>
